<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Blog Page</title>
    <link th:href="@{/css/blog.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/fragment.html :: main_head (user = ${currentUser})}"></div>
<div id="blog">
    <div id="author_info">
        <div id="avatar_username">
            <img width="64px" height="64px" id="creator_avatar" onerror="this.src='/images/avatar.png'" alt="avatar" th:src="@{/image/load-image/{img}(img = ${blog.author.avatar})}">
            <a th:href="@{/user/{id}(id = ${blog.author.id})}">
                <h1 id="author_username" th:text="${blog.author.username}">Username</h1>
            </a>
        </div>
        <div id="stats">
            <p id="post_amount">Количество постов: <span th:text="${blog.author.blogsAmount}">Amount</span></p>
            <p id="likes_amount">Количество лайков: <span th:text="${blog.author.amountLikes}">Likes</span></p>
        </div>
    </div>
    <div id="content">
        <h1 id="title_blog" th:text="${blog.title}">Title</h1>
        <p id="blog_content" th:text="${blog.content}">Content</p>
        <p id="likes">Понравилось: <span th:text="${blog.likes.size()}">Likes</span></p>
        <div id="buttons" th:if="${!#authentication.authorities.contains('ROLE_ANONYMOUS') && currentUser != null}">
            <form th:if="${!liked}" th:action="@{/like}" method="post">
                <input type="hidden" name="blogId" th:value="${blog.getId()}">
                <input type="hidden" name="userId" th:value="${currentUser.id}">
                <button class="like_unlike" id="like" type="submit">Лайк</button>
            </form>
            <form th:if="${liked}" th:action="@{/like/unlike}" method="post">
                <input type="hidden" name="blogId" th:value="${blog.getId()}">
                <input type="hidden" name="userId" th:value="${currentUser.id}">
                <button class="like_unlike" id="unlike" type="submit">Убрать лайк</button>
            </form>
            <div th:if="${currentUser.getId()==blog.author.getId()}" id="delete_update">
                <a th:href="@{/blog/update}" id="update">Обновить</a>
                <a th:href="@{/blog/delete}" id="delete">Удалить</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>