<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Create Blog Page</title>
    <link th:href="@{/css/create_blog.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/fragment.html :: main_head (user = ${currentUser})}"></div>
<div id="create">
    <form id="create_form" th:action="@{create}" method="post">
        <input type="hidden" name="creatorId" th:value="${currentUser.id}">
        <p>Заголовок</p>
        <label>
            <input id="title_form" name="title" type="text">
        </label>
        <p>Содержание</p>
        <label>
            <textarea id="content_form" name="content"></textarea>
        </label>
        <button id="create_button" type="submit">Создать блог</button>
    </form>
</div>
</body>
</html>