<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/css/reg.css}" rel="stylesheet">
</head>
<body>
<div id="registration_header">
    <h1>Регистрация</h1>
</div>
<div id="reg">
    <form id="reg_form" th:action="@{/reg}" method="post">
        <p>Имя пользователя:</p>
        <label for="username">
            <input type="text" name="username" id="username">
        </label>
        <p>Пароль:</p>
        <label for="password">
            <input type="password" name="password" id="password">
        </label>
        <p>E-mail:</p>
        <label for="email">
            <input type="text" name="email" id="email">
        </label>
        <button id="reg_button" type="submit">Подтвердить</button>
</form>
</div>
</body>
</html>