<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/css/reg.css}" rel="stylesheet">
</head>
<body>
<div id="registration_header">
    <h1>Регистрация</h1>
</div>
<div id="reg">
    <form id="reg_form" th:action="@{/reg}" method="post" th:object="${registrationDto}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
        <p>Имя пользователя:</p>
        <label for="username">
            <input type="text" name="username" id="username" th:field="*{username}">
        </label>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        <p>Пароль:</p>
        <label for="password">
            <input type="password" name="password" id="password" th:field="*{password}">
        </label>
        <p th:if="${hasPassConfirmError}">Пароль не совпадает!</p>
        <p>Подтвердите пароль:</p>
        <label for="confirmPassword">
            <input type="password" name="confirmPassword" id="confirmPassword">
        </label>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>
        <p>E-mail:</p>
        <label for="email">
            <input type="text" name="email" id="email" th:field="*{email}">
        </label>
        <button id="reg_button" type="submit">Подтвердить</button>
</form>
</div>
</body>
</html>