<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Update Page</title>
    <link th:href="@{/css/user_update_pass.css}" rel="stylesheet">
</head>
<body>
<div id="pass_update_header">
    <a th:href="@{/user/{id} (id = ${updatePassDto.getId()})}"><h1><</h1></a>
    <h1>Изменение пароля</h1>
</div>
<div id="update_pass">
    <form id="update_form" th:action="@{/user/update-password}" method="post" th:object="${updatePassDto}">
        <input id="id" name="id" type="hidden" th:value="${updatePassDto.getId()}">
        <p th:if="${hasOldPassError}" class="error_p"><b>Неверный старый пароль!</b></p>
        <p>Старый пароль:</p>
        <label>
            <input type="password" id="oldPassword" name="oldPassword">
        </label>
        <p th:if="${#fields.hasErrors('newPassword') && !hasNewPassError && !hasOldPassError}" th:errors="*{newPassword}" class="error_p"><b>NewPassError</b></p>
        <p th:if="${hasNewPassError && !hasOldPassError}" class="error_p"><b>Новый пароль совпадает со старым!</b></p>
        <p>Новый пароль:</p>
        <label>
            <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}">
        </label>
        <p th:if="${hasConfirmPassError && !hasNewPassError}" class="error_p"><b>Пароль не совпадает!</b></p>
        <p>Подтвердите пароль:</p>
        <label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </label>
        <button id="update_button">Обновить</button>
    </form>
</div>
</body>
</html>