body {
    background-image: url("/images/main_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

#authorization_header {
    background-color: chocolate;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#login {
    width: 500px;
    margin-top: 5cm;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: chocolate;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

#restore:active,
#restore {
    text-decoration: none;
    color: white;
    padding-left: 9cm;
}

#restore:hover {
    color: lightgray;
}

#restore_p {
    display: inline-block;
    padding: 0;
}

.reg_log_buttons {
    background-color: lightgray;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0;
}

.reg_log_buttons:hover {
    background-color: dimgray;
    cursor: pointer;
}

#reg_a_button {
    width: 100%;
}

input {
    margin: 0;
    border: 3px;
    width: 100%;
    background-color: lightgray;
}

#login_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

p {
    color: white;
    padding: 10px;
    margin: 0;
}

#unknown_pass_login {
    color: white;
    text-align: center;
}

#logout_success {
    color: green;
    margin: 0;
}

#restored_success {
    color: green;
    margin: 0;
}