#head {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#title {
    color: white;
}

#login_success {
    color: green;
    margin: 0;
}