body {
    background-image: url("/images/main_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

#head {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#title {
    color: white;
}

#login_success {
    color: green;
    margin: 0;
}