<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/css/login.css}" th:rel="stylesheet">
</head>
<body>
<div id="authorization_header">
    <h1>Авторизация</h1>
                    <h1 class="success" th:if="${param.logout!=null}">Вы успешно вышли!</h1>
                    <h1 class="success" th:if="${param.restored!=null}">Доступ восстановлен!</h1>
</div>
<div id="login">
    <p id="unknown_pass_login" th:if="${param.error!=null}">Неправильный пароль или имя пользователя</p>
    <form id="login_form" th:action="@{/login}" method="post">
        <p>Имя пользователя:</p>
        <label for="username">
            <input id="username" name="username" type="text">
        </label>
        <p>Пароль:</p>
        <label for="password">
            <input id="password" name="password" type="password">
        </label>
        <a id="restore" th:href="@{/restore}">Забыли пароль?</a>
        <div id="buttons">
            <a id="reg_a_button" href="reg"><button class="reg_log_buttons" id="reg_button" type="button">Регистрация</button></a>
            <button class="reg_log_buttons" id="login_button" type="submit">Войти</button>
        </div>
    </form>
</div>
</body>
</html>