<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restore Password</title>
    <link th:href="@{/css/restore_password.css}" rel="stylesheet">
</head>
<body>
<div id="restore_header">
    <h1>Восстановление доступа</h1>
</div>
<div id="restore">
    <form id="restore_form" th:action="@{/restore}" method="post" th:object="${restoreAccessDto}">
        <p id="restore_failed" th:if="${hasCheckRestoreDataError}"><b>Ключ или email введен неправильно!</b></p>
        <p>E-mail:</p>
        <label for="email">
            <input id="email" name="email" type="text">
        </label>
        <p>Ключ восстановления:</p>
        <label for="accessKey">
            <input id="accessKey" name="accessKey" type="text">
        </label>
        <p th:if="${#fields.hasErrors('password') && !hasCheckRestoreDataError}" th:errors="*{password}"></p>
        <p>Пароль:</p>
        <label for="password">
            <input id="password" name="password" type="password" th:field="*{password}">
        </label>
        <p id="confirm_password_failed" th:if="${hasConfirmPasswordError && !hasCheckRestoreDataError}">Пароль не совпадает!</p>
        <p>Подтвердите пароль:</p>
        <label for="confirmPassword">
            <input id="confirmPassword" name="confirmPassword" type="password">
        </label>
        <button id="restore_button" type="submit">Восстановить</button>
    </form>
</div>
</body>
</html>